In [5]:
from modules import adquire, cleaning, create_df_checking, outputs
from numpy.random import choice
from time import sleep
#import pygame
#pygame.mixer.init()

In [6]:
#drumroll = pygame.mixer.Sound('drumroll.wav')
#drumroll.play()

def main(): 
    df_students, df_katas = adquire()    
    df_students, df_katas = cleaning(df_students, df_katas)
    df,hora = create_df_checking(df_students, df_katas)
    outputs(df,False)
    return df


if __name__ == '__main__':
    df = main()

Nadie presentar√° la kata pete-the-baker