In [1]:
from modules import adquire, cleaning, create_df_checking, outputs
from numpy.random import choice
from time import sleep
#import pygame
#pygame.mixer.init()

In [21]:
#drumroll = pygame.mixer.Sound('drumroll.wav')
#drumroll.play()

def main(): 
    df_students, df_katas = adquire()    
    df_students, df_katas = cleaning(df_students, df_katas)
    df,hora = create_df_checking(df_students, df_katas)
    outputs(df,False)
    return df


if __name__ == '__main__':
    df = main()

Nadie presentará la kata unknown-amount-of-duplicates-one-missing-number

Para incluir en el csv de input `katas` una kata nueva de la cual desconocemos el `slug`(nombre modificado que nos da la api y del cual tira el código para comprobar si las han hecho), insertar fila dejando el hueco de la columna `slug`, asi:
+ 59fa8e2646d8433ee200003f,,2022-02-16T12:30:00.000Z,120.0

In [23]:
pd.read_csv('output/output.csv')

,username,counting-sheep-dot-dot-dot,regular-ball-super-ball,fake-binary,counting-in-the-amazon,deodorant-evaporator,tests-results,count-the-smiley-faces,keep-hydrated-1,sql-with-sailor-moon-thinking-about-joins-dot-dot-dot,...,sql-with-harry-potter-sorting-hat-comparators,pete-the-baker,the-deaf-rats-of-hamelin,scraping-get-the-year-a-codewarrior-joined,decode-the-morse-code,user-class-for-banking-system,the-supermarket-queue,80-s-kids-number-2-help-alf-find-his-spaceship,sorting-by-bits,unknown-amount-of-duplicates-one-missing-number
0,SergioMB12,True,True,True,True,True,False,True,True,True,...,True,True,True,False,False,True,False,False,False,False
1,DiSanchz,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,True,False,False
2,ce-valle,True,True,True,True,False,True,False,True,True,...,False,False,False,False,False,True,False,False,False,False
3,VictorPablo12,True,True,True,True,False,True,True,False,True,...,True,True,False,False,False,True,False,False,False,False
4,AntonioLopga12,True,True,True,False,False,False,True,False,True,...,False,False,False,False,False,False,True,False,False,False
5,Gitfracto,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,True,False,False,False
6,juanamir,False,False,True,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
7,Pomilusky,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,False,False
8,pablomora213,True,True,False,False,False,False,True,False,False,...,True,False,False,False,False,True,True,False,False,False
9,evaarquero,True,True,True,True,True,True,True,True,True,...,True,False,True,True,True,True,True,True,False,False
10,rodrigogalan,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
11,Jesus Chao,True,True,False,False,True,False,False,True,True,...,True,False,False,False,False,False,False,True,False,False
12,mariozapatero,True,True,False,True,False,True,True,True,True,...,True,True,False,True,True,True,True,True,False,False
13,Marilyn,True,False,False,False,False,False,True,True,True,...,True,False,False,False,False,False,False,False,False,False
14,IsabelGarcia11,False,True,True,True,True,False,True,True,True,...,True,False,False,False,False,True,False,True,False,False